// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-size: 15px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin: 20px;
}

footer {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
  padding-top: 5px;
  color: #777;
  font-size: 13px;
  font-weight: bold;
  .brand-icon{
      width: 17px;
      height: 17px;
  }
  small{
    float: left;
  }
  a{
    color: gray;
  }
  a:hover{
    color: #0000F0;
  }
}

section.user-info{
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  .gravatar{
    max-width: 70px;
    float: none;
  }
  h1{
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-top: 3px;
    margin-bottom: 15px;
  }
}

.gravatar{
  max-width: 50px;
  border-radius: 50%;
  float:left;
}