// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-size: 15px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin: 20px;
}

footer {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
  padding-top: 5px;
  color: #777;
  font-size: 13px;
  font-weight: bold;
  .brand-icon{
      width: 17px;
      height: 17px;
  }
  small{
    float: left;
  }
  a{
    color: gray;
  }
  a:hover{
    color: #0000F0;
  }
}